# fly.toml app configuration file generated for tg-bomber on 2026-01-18T20:43:42+04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'tg-bomber'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 4000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'
  memory = '512mb'
  cpus = 1
  memory_mb = 512
