@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Unbounded";
    src: url("/src/shared/ui/fonts/Unbounded-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 100 900;
    font-display: block;
  }

  @font-face {
    font-family: "Geist";
    src: url("/src/shared/ui/fonts/Geist-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 100 900;
    font-display: block;
  }

  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  body {
    font-family: "Geist", sans-serif;
  }

  label,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Unbounded", sans-serif;
  }
}

/* Handle range input styling */
input[type="range"]::-webkit-slider-thumb {
  @apply bg-blue cursor-pointer;
}

input[type="range"]::-moz-range-thumb {
  @apply bg-blue cursor-pointer;
}

input[type="range"]::-ms-thumb {
  @apply bg-blue cursor-pointer;
}

/* Reduced motion preferences */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
